.molinos {
  width: 200px;
  height: 100%;
  height: 100px;
  display: flex;

  .icono-viento {
    display: none;
  }

  .molino::before {
    content: '';
    height: 30%;
    display: block;
  }

  .molino {
    position: relative;
    width: 40%;
    height: 100%;

    .aspa {
      width: 70%;
      position: absolute;
      top: 0;
      left: 15%;
      animation: molino-animacion 4s linear both infinite;
      img {
        width: 100%;
      }
    }

    .poste {
      height: 70%;
      background-image: url('https://s.yimg.com/os/weather/1.0.1/windmill/bigpole@2x.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .molino-chico::before {
    content: '';
    height: 55%;
    display: block;
  }

  .molino-chico {
    position: relative;
    width: 40%;
    height: 100%;

    .aspa {
      width: 60%;
      position: absolute;
      top: 39%;
      top: 35%;
      left: 19%;
      text-align: center;
      animation: molino-animacion 4s linear both infinite;

      img {
        width: 85%;
      }
    }

    .poste {
      height: 45%;
      background-image: url('https://s.yimg.com/os/weather/1.0.1/windmill/bigpole@2x.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .molinos {
    width: auto;
    align-self: center;
    margin-right: 10px;

    .icono-viento {
      display: block;
      font-size: 3rem;
    }

    .molino, .molino-chico, .molino::before, .molino-chico::before {
      display: none;
    }
  }
}