.contenedor-perfil {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    gap: 3px;
    border-radius: 5px;
    padding: 7px;
    
    .foto-y-name {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
            border-radius: 50%;
            width: 11%;
        }

        .name-user {
            margin: 0;
            font-size: 18px;
        }
        
    }

   

    button {
        background-color: transparent;
        min-height: 100%;
        border: none;
        padding: 0;

        i {
            color: orange;
            font-size: 18px;
        }
    }

    button:hover {
        background-color: transparent;
        i {
            color: white;
        }
    }
        
}