* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.offcanvas {
    background-color: rgb(25, 25, 25);
    color: white;
    width: 300px !important;
    max-width: 300px !important;

    .offcanvas-header {
        .icono-header-sidebar {
            color: orange;
            padding-right: 4px;
        }

        .btn-close:hover {
            transition: .5s;
            background-color: rgb(50, 50, 50);
        }
    }

    .offcanvas-body {
        display: flex;
        justify-content: center;
        padding: 0;
               
        .btns {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            padding: 0 12px;
            scrollbar-width: thin; 
            scrollbar-color: rgb(17, 17, 17) black;        
        
            .btn-login {
                width: 100%;
                color: orange;
        
                .texto-desabilitado {
                    font-style: italic;
                    color: white;
                }
            }
        }
    }
}

.btn-dark {
    max-height: 30%;
    border: none;
    color: orange;
}

.btn-dark:hover {
    color: white;
}

@media screen and (max-width: 290px) {
    .offcanvas {
        width: 100% !important;
        max-width: 100% !important;
    }
}