@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.contenedor-perfil {
    overflow: hidden;
    gap: 3px;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    // border: 2px solid rgb(148, 165, 0);
    background-color: #CC5500;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.6);

    color: black;

    img {
        width: 15%;
        border-radius: 50%;
    }

    .name-user {
        width: 80%;
        margin: 0;
        font-size: 23px;
        align-content: end;

        span {
            color: chartreuse;
        }
    }
}

.contenedor-perfil:hover {
    box-shadow: inset 0 4px 8px orange;
}