.buscador-cambiar-localidad {
    padding: 0 12px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: rgb(17, 17, 17) black;
    position: relative;

    .nota-buscador-config {

        width: 100%;
        width: 92%;
        background-color: rgb(196, 184, 168);
        color: black;
        border-radius: 5px;
        font-style: italic;
        align-content: center;
        padding: 5px;
        position: absolute;
        bottom: 10px;
    
        p {
            margin: 0;
            opacity: 1;
            font-size: 14px;
    
            span {
                font-size: 18x;
                font-weight: 600;
            }
        }
    }
}