.carta {
  border-radius: 11px;
  // width: 20%;
  min-width: 20%;
  text-align: center;
  align-content: center;
  cursor: pointer;

  font-weight: 900;
  position: relative;

  
  .nombre-del-dia {
    color: orange;
  }

  img {
    background-color: transparent !important;
  }
 p {
  margin: 0;
  
  .grados-min-text {
    opacity: .5;
  }
 }
}

.carta:hover {
  transition: .5s;
  border-radius: 8px;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 9px;
  border:1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: none;
}

.carta-select {
  // background-color: rgba(255, 255, 255, .2);
  // background-color: #AFB0BD;

  color: rgba(255, 255, 255);
  transition: .5s;
  border-radius: 11px;
  box-shadow: inset 1px 0px 0px orange;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: none;
}