.cartas-y-grafica {
    width: 55%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-x: hidden;

    .contenedor-cartas {
        // height: 50%;

        .descripcion {
            margin-bottom: 1rem;
        }
        .cartas {
            display: flex;
            border-radius: 8px;
            overflow: hidden;
        }

        .cartas:hover {
            transition: .3s;
            overflow: visible;
        }
    }

    h5 {
        margin-top: 1rem;
        margin-bottom: 0;
        color: rgb(255, 165, 0, .9);
    }

    .contenedor-grafica {
        margin-top: 5px;

        // .text-fecha-grafica {
        //     text-align: center;
        //     font-style: italic;
        //     border-bottom: 1px dotted grey;
        //     padding: 10px 0;
        // }
    }
}

@media screen and (max-width: 480px) {
    .cartas-y-grafica {
        .contenedor-cartas {
            .descripcion {
                font-size: 20px;
            }
            .cartas {
                .carta {
                    padding: 2px;
                    img {
                        width: 80%;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        } 

        h5 {
            font-size: 16px;
            
        }
    }


}

@media screen and (max-width: 380px) {
    .cartas-y-grafica {
        .contenedor-grafica {
            .text-fecha-grafica {
                font-size: 13px;
            }
        }

        h5 {
            span {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .cartas-y-grafica {
        .contenedor-cartas {
            height: auto;
            .cartas {
                height: auto;
                display: flex;
                flex-direction: column;
                .carta {
                    height: 80px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: repeat(4, 1fr);
                    gap: 10px;

                    img {
                        grid-column: 1/2;
                        grid-row: 1/2;
                        grid-row: 1/3;
                        width: 70%;  
                        justify-self: center;                  
                    }

                    .nombre-del-dia {
                        grid-column: 1/2;
                        grid-row: 2/5;
                        grid-row: 3/5;
                      
                    }

                    .grados {
                        grid-column: 3/4;
                        grid-row: 2/4;
                        align-content: center;
                    }
                }
            }
        }

        .contenedor-grafica {
            .text-fecha-grafica {
                font-size: 13px;
            }
        }
    }
}