.molinos {
  // width: 200px;
  // min-width: 200px;
  width: 150px;
  height: 100%;
  height: 100px;
  display: flex;

  .icono-viento {
    display: none;
  }

  .molino::before {
    content: '';
    height: 30%;
    height: 40%;
    display: block;
  }

  .molino {
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .aspa {
      width: 70%;
      width: 80%;
      position: absolute;
      top: 16px;
      left: 15%;
      left: 10%;
      animation: molino-animacion 4s linear both infinite;
      img {
        width: 100%;
      }
    }

    .poste {
      height: 70%;
      height: 60%;
      background-image: url('https://s.yimg.com/os/weather/1.0.1/windmill/bigpole@2x.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .molino-chico::before {
    content: '';
    height: 55%;
    display: block;
  }

  .molino-chico {
    position: relative;
    width: 40%;
    height: 100%;

    .aspa {
      width: 60%;
      position: absolute;
      top: 39%;
      top: 35%;
      left: 19%;
      text-align: center;
      animation: molino-animacion 4s linear both infinite;

      img {
        width: 85%;
      }
    }

    .poste {
      height: 45%;
      background-image: url('https://s.yimg.com/os/weather/1.0.1/windmill/bigpole@2x.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media screen and (max-width: 920px) {
  .molinos {
    min-width: 30px;
    width: 20px;
    align-items: center;

    .icono-viento  {
      display: block !important;
      font-size: 35px ;
      align-content: center;
    }

    .molino, .molino-chico, .molino::before, .molino-chico::before {
      display: none;
    }
  }
}